[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "patternize"]
	path = patternize
	url = https://github.com/stevenvb12/patternize
